{{#each slide in model}}
  {{#if slide.filename}}
    {{#link-to 'slide' slide}}
      <img {{bind-attr src=slide.filename}}>
    {{/link-to}}
  {{/if}}
  {{#if slide.iframeUrl}}
    <a {{bind-attr href=slide.iframeUrl}}>{{slide.iframeUrl}}</a>
    <br>
  {{/if}}
  {{#if slide.markdown}}
    {{#link-to 'slide' slide}}
      {{slide.markdown}}
    {{/link-to}}
  {{/if}}
{{/each}}

{{outlet}}
