<h1>Slide Deck</h1>
<ol>
{{#each slide in model}}
  <li>
  {{#if slide.filename}}
    {{#link-to 'slide' slide}}
      <img {{bind-attr src=slide.filename}}>
    {{/link-to}}
  {{/if}}
  {{#if slide.iframeUrl}}
    <a {{bind-attr href=slide.iframeUrl}}>{{slide.iframeUrl}}</a>
  {{/if}}
  {{#if slide.markdown}}
    {{#link-to 'slide' slide}}
      {{slide.markdown}}
    {{/link-to}}
  {{/if}}
  {{#if slide.code}}
    {{#link-to 'slide' slide}}
      Source Code
    {{/link-to}}
  {{/if}}
  </li>
{{/each}}
</ol>
<hr>
<h2>Outline</h2>
{{markdown-to-html markdown=model.outline}}
<hr>
<h3>Markdown Outline</h3>
{{textarea value=model.outline}}

{{outlet}}
